@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}



.counter-container {
  display:flex;
  flex-direction:row;
  justify-content: center;
  text-align: center;
  margin: 20px 50px;
  margin-left:67px;
  margin-bottom:10px;
  background-color:azure;
}

.counter {
  font-size: 60px;
  
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}
