@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}



.counter-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 300px 50px;
  margin-left:-670px;
  margin-bottom:100px;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}
